body {
  margin: 0px;
}

canvas {
  background-color: lightgray;
}

img {
  display: none;
}
background-image="https://m.media-amazon.com/images/S/aplus-media-library-service-media/7e8e4b46-e38c-49bd-89db-f8e1080a215f.__CR0,0,970,600_PT0_SX970_V1___.jpg";